doctype html

html.no-js
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        meta(content="yes", name="apple-mobile-web-app-capable")
        title Sberbank Self Employed

    body
        .h-wrapper
            h2 Проект на основе старой верстки
            h4 Логин
            ul
                li
                    a(href="old_html/login_empty.html") login_empty.html
                li
                    a(href="old_html/login_errors.html") login_errors.html
                li
                    a(href="old_html/registration.html") registration.html
                li
                    a(href="old_html/lk.html") lk.html

            h4 Профиль
            ul
                li
                    a(href="old_html/profile_empty.html") profile_empty.html
                li
                    a(href="old_html/profile_filled.html") profile_filled.html
                li
                    a(href="old_html/profile_choose_city_modal.html") profile_choose_city_modal.html
                li
                    a(href="old_html/profile_choose_country_modal.html") profile_choose_country_modal.html

            h4 График работы
            ul
                li
                    a(href="old_html/work_schedule.html") work_schedule.html
                li
                    a(href="old_html/work_schedule_selected_days.html") work_schedule_selected_days.html
                li
                    a(href="old_html/work_schedule_edit_work_day_modal.html") work_schedule_edit_work_day_modal.html
                li
                    a(href="old_html/work_schedule_edit_non_work_day_modal.html") work_schedule_edit_non_work_day_modal.html

            h4 Меню
            ul
                li
                    a(href="old_html/menu.html") menu.html

            h4 Записи
            ul
                li
                    a(href="old_html/appointments.html") appointments.html
                li
                    a(href="old_html/appointments_filters.html") appointments_filters.html
                li
                    a(href="old_html/appointments_clients_modal.html") appointments_clients_modal.html
                li
                    a(href="old_html/appointments_banner.html") appointments_banner.html
                li
                    a(href="old_html/appointments_restrictions.html") appointments_restrictions.html

            h4 Расписание
            ul
                li
                    a(href="old_html/schedule_day.html") schedule_day.html
                li
                    a(href="old_html/schedule_2_days.html") schedule_2_days.html
                li
                    a(href="old_html/schedule_3_days.html") schedule_3_days.html
                li
                    a(href="old_html/schedule_4_days.html") schedule_4_days.html
                li
                    a(href="old_html/schedule_5_days.html") schedule_5_days.html
                li
                    a(href="old_html/schedule_week.html") schedule_week.html
                li
                    a(href="old_html/schedule_month.html") schedule_month.html
                li
                    a(href="old_html/schedule_month_calendar_modal.html") schedule_month_calendar_modal.html
                li
                    a(href="old_html/schedule_calendar_modal.html") schedule_calendar_modal.html
                li
                    a(href="old_html/schedule_calendar_interval_modal.html") schedule_calendar_interval_modal.html
                li
                    a(href="old_html/schedule_calendar_restrictions_modal.html") schedule_calendar_restrictions_modal.html
                li
                    a(href="old_html/schedule_day_empty.html") schedule_day_empty.html
                li
                    a(href="old_html/schedule_edit_work_day_modal.html") schedule_edit_work_day_modal.html
                li
                    a(href="old_html/schedule_edit_non_work_day_modal.html") schedule_edit_non_work_day_modal.html
                li
                    a(href="old_html/schedule_appointment_time_modal.html") schedule_appointment_time_modal.html
                li
                    a(href="old_html/schedule_search_empty.html") schedule_search_empty.html
                li
                    a(href="old_html/schedule_search_edit.html") schedule_search_edit.html
                li
                    a(href="old_html/schedule_appointment_list_modal.html") schedule_appointment_list_modal.html
                li
                    a(href="old_html/schedule_new_appointments_modal.html") schedule_new_appointments_modal.html
                li
                    a(href="old_html/schedule_new_appointment_modal.html") schedule_new_appointment_modal.html
                li
                    a(href="old_html/schedule_new_and_confirm_appointment_modal.html") schedule_new_and_confirm_appointment_modal.html
                li
                    a(href="old_html/schedule_current_and_confirm_appointment_modal.html") schedule_current_and_confirm_appointment_modal.html
                li
                    a(href="old_html/schedule_done_appointment_modal.html") schedule_done_appointment_modal.html
                li
                    a(href="old_html/schedule_cancel_appointment_modal.html") schedule_cancel_appointment_modal.html
                li
                    a(href="old_html/schedule_period_balance_modal.html") schedule_period_balance_modal.html
                li
                    a(href="old_html/schedule_day_banner.html") schedule_day_banner.html

            h4 Финансы
            ul
                li
                    a(href="old_html/finance.html") finance.html
                li
                    a(href="old_html/finance_cash.html") finance_cash.html
                li
                    a(href="old_html/finance_add_remote_cash_empty.html") finance_add_remote_cash_empty.html
                li
                    a(href="old_html/finance_type_operation_modal.html") finance_type_operation_modal.html
                li
                    a(href="old_html/finance_cashbox_modal.html") finance_cashbox_modal.html
                li
                    a(href="old_html/finance_add_remote_cash_filled.html") finance_add_remote_cash_filled.html
                li
                    a(href="old_html/finance_debit_credit.html") finance_debit_credit.html
                li
                    a(href="old_html/finance_appointments.html") finance_appointments.html
                li
                    a(href="old_html/finance_middle_check_modal.html") finance_middle_check_modal.html
                li
                    a(href="old_html/finance_services_modal.html") finance_services_modal.html
                li
                    a(href="old_html/finance_banner.html") finance_banner.html

            h4 Визит
            ul
                li
                    a(href="old_html/new_appointment_empty.html") new_appointment_empty.html
                li
                    a(href="old_html/new_appointment_filled.html") new_appointment_filled.html
                li
                    a(href="old_html/new_appointment_clients_modal.html") new_appointment_clients_modal.html
                li
                    a(href="old_html/new_appointment_clients_new_client_modal.html") new_appointment_clients_new_client_modal.html
                li
                    a(href="old_html/new_appointment_services_modal.html") new_appointment_services_modal.html
                li
                    a(href="old_html/new_appointment_services_search_modal.html") new_appointment_services_search_modal.html
                li
                    a(href="old_html/new_appointment_reminder_modal.html") new_appointment_reminder_modal.html
                li
                    a(href="old_html/new_appointment_marks_modal.html") new_appointment_marks_modal.html
                li
                    a(href="old_html/new_appointment_colors_modal.html") new_appointment_colors_modal.html
                li
                    a(href="old_html/new_appointment_client_card_modal.html") new_appointment_client_card_modal.html
                li
                    a(href="old_html/new_appointment_current.html") new_appointment_current.html
                li
                    a(href="old_html/new_appointment_changed.html") new_appointment_changed.html
                li
                    a(href="old_html/new_appointment_complited.html") new_appointment_complited.html
                li
                    a(href="old_html/new_appointment_reschedule_modal.html") new_appointment_reschedule_modal.html
                li
                    a(href="old_html/new_appointment_service_edit_modal.html") new_appointment_service_edit_modal.html
                li
                    a(href="old_html/new_appointment_payment_modal.html") new_appointment_payment_modal.html

            h4 Услуги
            ul
                li
                    a(href="old_html/services_filled.html") services_filled.html
                li
                    a(href="old_html/services_empty.html") services_empty.html
                li
                    a(href="old_html/services_new_empty.html") services_new_empty.html
                li
                    a(href="old_html/services_new_filled.html") services_new_filled.html
                li
                    a(href="old_html/services_new_filled_duration_modal.html") services_new_filled_duration_modal.html
                li
                    a(href="old_html/services_add.html") services_add.html
                li
                    a(href="old_html/services_new_category_empty.html") services_new_category_empty.html
                li
                    a(href="old_html/services_category_modal.html") services_category_modal.html
                li
                    a(href="old_html/services_sort_modal.html") services_sort_modal.html

            h4 Настройки
            ul
                li
                    a(href="old_html/settings.html") settings.html
                li
                    a(href="old_html/settings_online_booking_modal.html") settings_online_booking_modal.html
                li
                    a(href="old_html/settings_notifications_modal.html") settings_notifications_modal.html
                li
                    a(href="old_html/settings_notifications_empty.html") settings_notifications_empty.html
                li
                    a(href="old_html/settings_notifications_selected.html") settings_notifications_selected.html
                li
                    a(href="old_html/settings_summary_modal.html") settings_summary_modal.html
                li
                    a(href="old_html/settings_success.html") settings_success.html
                li
                    a(href="old_html/settings_messenger_integration_phone.html") settings_messenger_integration_phone.html
                li
                    a(href="old_html/settings_messenger_integration_code.html") settings_messenger_integration_code.html
                li
                    a(href="old_html/settings_messenger_integration_qr.html") settings_messenger_integration_qr.html
                li
                    a(href="old_html/settings_tariffs.html") settings_tariffs.html
                li
                    a(href="old_html/settings_add_tariff.html") settings_add_tariff.html
                li
                    a(href="old_html/settings_schedule.html") settings_schedule.html
                li
                    a(href="old_html/settings_glyphs_choose_modal.html") settings_glyphs_choose_modal.html
                li
                    a(href="old_html/settings_glyphs_properties_empty_modal.html") settings_glyphs_properties_empty_modal.html
                li
                    a(href="old_html/settings_glyphs_properties_filled_modal.html") settings_glyphs_properties_filled_modal.html
                li
                    a(href="old_html/settings_link_group_modal.html") settings_link_group_modal.html
                li
                    a(href="old_html/settings_link_service_modal.html") settings_link_service_modal.html
                li
                    a(href="old_html/settings_color_properties_empty_modal.html") settings_color_properties_empty_modal.html
                li
                    a(href="old_html/settings_color_properties_filled_modal.html") settings_color_properties_filled_modal.html
                li
                    a(href="old_html/settings_acquiring.html") settings_acquiring.html
                li
                    a(href="old_html/settings_online_appointment_first_visit.html") settings_online_appointment_first_visit.html
                li
                    a(href="old_html/settings_online_appointment_return_visits.html") settings_online_appointment_return_visits.html
                li
                    a(href="old_html/settings_how_this_works_modal.html") settings_how_this_works_modal.html
                li
                    a(href="old_html/settings_site_floating_button.html") settings_site_floating_button.html
                li
                    a(href="old_html/settings_site_static_button.html") settings_site_static_button.html
                li
                    a(href="old_html/settings_link_to_visit.html") settings_link_to_visit.html
                li
                    a(href="old_html/settings_qr_code.html") settings_qr_code.html
                li
                    a(href="old_html/settings_widget.html") settings_widget.html

            h4 Клиенты
            ul
                li
                    a(href="old_html/clients.html") clients.html
                li
                    a(href="old_html/clients_search.html") clients_search.html
                li
                    a(href="old_html/client_categories.html") client_categories.html
                li
                    a(href="old_html/client_custom_categories.html") client_custom_categories.html
                li
                    a(href="old_html/client_group_edit_modal.html") client_group_edit_modal.html
                li
                    a(href="old_html/client_modal.html") client_modal.html
                li
                    a(href="old_html/clients_new_empty.html") clients_new_empty.html
                li
                    a(href="old_html/clients_new_edit.html") clients_new_edit.html
                li
                    a(href="old_html/client_appointments_modal.html") client_appointments_modal.html
                li
                    a(href="old_html/clients_groups_empty_modal.html") clients_groups_empty_modal.html
                li
                    a(href="old_html/clients_groups_modal.html") clients_groups_modal.html

            h4 Тарифы
            ul
                li
                    a(href="old_html/tariff_empty_chart.html") tariff_empty_chart.html
                li
                    a(href="old_html/tariff_added_chart.html") tariff_added_chart.html
                li
                    a(href="old_html/tariff_summary_modal.html") tariff_summary_modal.html
                li
                    a(href="old_html/tariff_lite_details_modal.html") tariff_lite_details_modal.html
                li
                    a(href="old_html/tariff_business_details_modal.html") tariff_business_details_modal.html
                li
                    a(href="old_html/tariff_notifications_for_you_details_modal.html") tariff_notifications_for_you_details_modal.html
                li
                    a(href="old_html/tariff_notifications_details_modal.html") tariff_notifications_details_modal.html
                li
                    a(href="old_html/tariff_notifications_and_mailings_details_modal.html") tariff_notifications_and_mailings_details_modal.html
                li
                    a(href="old_html/tariff_payment_success.html") tariff_payment_success.html

            h4 Уведомления
            ul
                li
                    a(href="old_html/notification_first_visit.html") notification_first_visit.html
                li
                    a(href="old_html/notification_selected.html") notification_selected.html
                li
                    a(href="old_html/notification_summary_modal.html") notification_summary_modal.html
                li
                    a(href="old_html/notification_payment_success.html") notification_payment_success.html
                li
                    a(href="old_html/settings_messenger_integration_phone.html") settings_messenger_integration_phone.html
                li
                    a(href="old_html/settings_messenger_integration_code.html") settings_messenger_integration_code.html
                li
                    a(href="old_html/settings_messenger_integration_qr.html") settings_messenger_integration_qr.html
                li
                    a(href="old_html/notification_messenger_integration_success.html") notification_messenger_integration_success.html
                li
                    a(href="old_html/notification.html") notification.html
                li
                    a(href="old_html/notification_settings_create_appointment.html") notification_settings_create_appointment.html
                li
                    a(href="old_html/notification_template_create_appointment.html") notification_template_create_appointment.html
                li
                    a(href="old_html/notification_settings_reschedule_appointment.html") notification_settings_reschedule_appointment.html
                li
                    a(href="old_html/notification_settings_cancel_appointment.html") notification_settings_cancel_appointment.html
                li
                    a(href="old_html/notification_settings_remind_appointment.html") notification_settings_remind_appointment.html
                li
                    a(href="old_html/notification_reminder_modal.html") notification_reminder_modal.html

            h4 Чат
            ul
                li
                    a(href="old_html/chat_empty.html") chat_empty.html
                li
                    a(href="old_html/chat_filled.html") chat_filled.html

            h4 Landing page
            ul
                li
                    a(href="landing.html") landing.html
            
            h4 Стартовая страница-приветствие
            ul
                li
                    a(href="old_html/start_screen.html") start_screen.html

            h4 PDF
            ul
                li
                    a(href="old_html/pdf/pdf_100x100_mm.html") pdf_100x100_mm.html
                li
                    a(href="old_html/pdf/pdf_50x90_mm.html") pdf_50x90_mm.html
                li
                    a(href="old_html/pdf/pdf_148.5x210_mm.html") pdf_148.5x210_mm.html
                li
                    a(href="old_html/pdf/pdf_210x210_mm.html") pdf_210x210_mm.html
                li
                    a(href="old_html/pdf/pdf_50x50_mm.html") pdf_50x50_mm.html