doctype html

html.no-js
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        meta(content="yes", name="apple-mobile-web-app-capable")
        title Sberbank Self Employed

    body
        .h-wrapper
            h2 Проект на основе старой верстки
            h4 Логин
            ul
                li
                    a(href="old_html/login_empty.html") login_empty.html
                li
                    a(href="old_html/login_errors.html") login_errors.html
                li
                    a(href="old_html/registration.html") registration.html
                li
                    a(href="old_html/lk.html") lk.html

            h4 Профиль
            ul
                li
                    a(href="old_html/profile_empty.html") profile_empty.html
                li
                    a(href="old_html/profile_filled.html") profile_filled.html
                li
                    a(href="old_html/profile_choose_city_modal.html") profile_choose_city_modal.html

            h4 График работы
            ul
                li
                    a(href="old_html/work_schedule.html") work_schedule.html
                li
                    a(href="old_html/work_schedule_selected_days.html") work_schedule_selected_days.html
                li
                    a(href="old_html/work_schedule_edit_work_day_modal.html") work_schedule_edit_work_day_modal.html
                li
                    a(href="old_html/work_schedule_edit_non_work_day_modal.html") work_schedule_edit_non_work_day_modal.html